/* цвет основной + телефон в шапке #757575 */
/* цвет заголовков #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* телефон, почта футер rgba(255, 255, 255, 0.6) */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-bg-child: #f5f4fa;
  --color-social-links: #afb1b8;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Герой */

.section.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero > .overley {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #757575;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 200px;

  color: var(--primary-white-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero .button {
  display: inline-block;
  margin-bottom: 200px;
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* Модальное окно - фон общий*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Модальное окно - фон формы */
.modal {
  min-width: 528px;
  min-height: 581px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

/* Модальное окно - кнопка закрыть форму */
.modal > .btn {
  width: 30px;
  height: 30px;

  position: absolute;
  right: 0;
  top: 0;

  transform: translate(25%, -25%);

  border-radius: 50%;
  background-color: var(--primary-white-color);
  border-color: transparent;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-btn-close {
  fill: black;
}

/* Модальное окно - форма */

.form {
  padding: 40px;
}
.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* Наши преимущества */

.section.advantage {
  border: 1px solid #ececec;
}

.advantage .list {
  display: flex;
}

.advantage .item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.advantage .item:nth-child(4n) {
  margin-right: 0;
}

.advantage .item:nth-child(4n) {
  margin-bottom: 0;
}

.advantage .background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.antenna-icon {
  width: 65px;
  height: 70px;
  align-items: center;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.doing .list {
  display: flex;
}

.doing .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.doing .item:nth-child(3n) {
  margin-right: 0;
}

.doing .item:nth-child(3n) {
  margin-bottom: 0;
}

.doing img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
}

.doing-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Наша команда */

.section.team {
  background-color: var(--color-bg-child);
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
  margin-bottom: 30px;
}

.team .item.cards {
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-title {
  margin-top: 0;

  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-position {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-text-color);
}

.team .list.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.team .item.social {
  margin-right: 10px;
}

.team .item.social:nth-child(4n) {
  margin-right: 0;
}

.team .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--color-social-links);
}

/* .team .link:hover,
.team .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
} */

.team .social-icon {
  fill: currentColor;
}

/* Постоянные клиенты */
.customer .list {
  display: flex;
  justify-content: space-evenly;
}

.customer .item {
  margin-right: 30px;
  width: calc((100% - 60px) / 6);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer .item:nth-child(6n) {
  margin-right: 0;
}

.customer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--color-social-links);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer .link:hover,
.customer .link:focus {
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
  cursor: pointer;
}

.customer .item:hover,
.customer .item:focus {
  border: 1px solid var(--accent-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
